body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url('../img/fondo.jpg');
    background-size: cover;          /* Hace que cubra toda la pantalla */
    background-position: center;     /* Centra la imagen */
    background-attachment: fixed;    /* Hace que se quede fija al hacer scroll */
    margin: 0;
    padding: 0;
    color: white;
}
.nav-link{
    color: white;
}
.navbar .nav-link.active{
    color: white;
}
.navbar .nav-link:hover{
    color: red;
    transition: 0.4s;
}
.navbar-brand{
    color: white;
}
.navbar-brand:hover{
    color: red;
    transition: 0.4s;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px 20px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}